.menu {
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  padding-top: 100px;
  margin-bottom: 24px;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin-bottom: 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.menu__card {
  width: 540px;
  row-gap: 100px;
  margin-bottom: 100px;
}

.menu__card-title {
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.menu___list_item {
  margin-bottom: 16px;
  font-family: "Noto-Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list_item-description {
  flex-grow: 1;
  margin-right: 10px;
}

.menu__list-divider::before {
  content: "___________________________________________________";
  border-bottom-left-radius: 1px solid black;
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 16px;
}
