.reservation {
  background-image: url("/images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}

.reservation__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.reservation__label {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__input {
  border-radius: 4px;
  max-width: 385px;
  margin-bottom: 32px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__button {
  background-color: #2f80ed;
  border-radius: 4px;
  opacity: 1;
  transition: opacity;
  height: 60px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.reservation__button:hover {
  opacity: 0.7;
}

.reservation__checkbox-label {
  margin-right: 12px;
}

.reservation__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url("/images/check.svg");
  width: 20px;
  height: 20px;
}
